::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #333;
    border-radius: 100vw;
    margin-block: .23em;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 100vw;
    height: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


body {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #252525;
    border-bottom: 2px solid grey;
}


.navbar a {
    color: white;
    font-size: 20px;
    margin-left: 7px;
    font-weight:bold ;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s all;
}

.logo img {
    width: 60px;
}

.navbar a:hover {
    color: grey;
}

h1 {
    padding: 20px;
    text-align: center;
}

.skiny {
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
}

.dengus {
    gap: 10px;
    grid-auto-rows: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
}

.margin {
    margin: 0 auto;
}

.kevcio {
    text-align: center;
    float: left;
    width: 33%;

}

.kevcio a { 
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: .3 all;
}

.kevcio a:hover {
    color: grey;
}

.pavlutek {
    text-align: center;
    float: left;
    width: 33%;
    
}

.pavlutek a { 
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: .3 all;
}

.pavlutek a:hover {
    color: grey;
}

.dabek {
    text-align: center;
    float: left;
    width: 33%;
    
}

.dabek a { 
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: .3 all;
}

.dabek a:hover {
    color: grey;
}

.dengustext {
    text-align: center;
    width: 33%;
    margin: 0 auto;
}

.dengustext a { 
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: .3 all;
}

.dengustext a:hover {
    color: grey;
}
